 
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: Arial, sans-serif;
        }

        body {
            background: linear-gradient(to right, #1e3c72, #2a5298);
            color: white;
             animation: fadeIn 1.2s ease-in;

        }

        nav {
            background: rgba(0, 0, 0,0.5);
            padding: 15px;
            text-align: center;
            position: sticky;
            top:0;
            left: 0;
            width:100%;
            z-index: 1000;
            backdrop-filter: blur(12px);
            -webkit-backdrop-filter: blur(12px);
            border-bottom: 1px solid rgba(255, 255, 255, 0.15);


        }

        nav a {
            color: white;
            text-decoration: none;
            margin: 20px;
            font-size: 20px;
            font-weight:bold;
            position: relative;
            transition: 0.3s;
            display: inline-block;

        }
        nav a::after{
            content:"";
            position: absolute;
            left: 0;
            bottom: -5px;
            width: 0;
            height: 3px;
            background: #2f0ab8;
            transition: 0.3s;
            display: block;
        }
        nav a:hover::after{
            width: 100%;
        }

        nav a:hover {
            color: #00e5ff;
            text-shadow: 0 0 10px #00e5ff;
            transform: translateY(-3px);
        }
       


         
        .hero {
        
            height: auto;
            min-height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
           text-align: center;
           animation: fadeIn 1.5s ease,gradientBG 10s ease infinite;
           background: 
           linear-gradient(-45deg, #0f2027, #203a43, #2c5364, #0f2027);
           background-size: 400% 400%;
           
           padding: 100px 20px;
        }
        @keyframes fadeIn{
            from{
                opacity: 0;
                transform: translateY(40px);
            }
            to{
                opacity: 1;
                 transform: translateY(0);
                }
        }

        h1 {
            font-size: 50px;
        }

        p {
            font-size: 25px;
            margin-top: 15px;
        }

   
        
          button{
        margin-top:25px;
        padding:15px 35px;
        font-size:20px;
        background:linear-gradient(45deg,#ff512f,#dd2476);
        color:white;
        border:none;
        border-radius:30px;
        cursor:pointer;
        transition:all 0.3s ease;
        box-shadow: 0 8px 20px rgba(255, 81, 47, 0.5);
        }
        

          button:hover{
            transform: translateY(-3px) scale(1.08);
            box-shadow: 0 0 25px #00e5ff;
            background: linear-gradient(45deg,#ff512f,#dd2476);
            cursor: pointer;
            transition: transform 0.3s ease ;
         }
         .hero img{
            border: 4px solid white;
            max-width: 100%;
            border-radius: 50%; 
            transition: 0.5s;
            box-shadow: 0 0 25px cyan;
             width: 180px;
             height: 180px;
             cursor: pointer;
         }
         .hero img:hover{
            transform: scale(1.08) rotate(3deg);
            box-shadow: 0 0 40px cyan;
         }
         .social-icons a{
    color: white;
    font-size: 35px;
    margin: 15px;
    transition: 0.3s;
    text-decoration: none;
}

.social-icons a:hover{
    color: #ff512f;
    transform: scale(1.3);
}
         

html{
    scroll-behavior: smooth;
}
#skills p{
    transition: 0.3s;
    cursor: pointer;
}

#skills p:hover{
    transform: scale(1.08);
    color: yellow;
}
.skill-box{
    display: inline-block;
    background: #222;
    color: white;
    padding: 15px 25px;
    margin: 10px;
    border-radius: 10px;
}
.skill-box:hover{
    transform: scale(1.1);
    box-shadow: 0 0 15px cyan;
    background: #333;
}
.card{
    background: rgba(255,255,255,0.08);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 20px;
    margin: 20px auto;
    border-radius: 15px;
    max-width: 500px;
    width: 90%;
    transition: 0.4s ease;
    cursor: pointer;
    transform-style: preserve-3d;

}

.card:hover{
transform: perspective(1000px) rotate(8deg) translateY(-10px);
box-shadow: 0 0 15px 5px  rgba(0, 255, 255, 0.5);
transition: 0.3s;


}
#topBtn{
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 15px;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    background: #ff4081;
    color: white;
    cursor: pointer;
}
 .fade-in{
    opacity: 0;
    transform: translateY(50px);
    transition: all 0.8s ease;
}

.fade-in.show{
    opacity: 1;
    transform: translateY(0);
}
#themeBtn{
    background: #00bcd4;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 20px;
    cursor: pointer;
    margin-left: 15px;
    font-size: 18px;
    transition: 0.3s;
}

#themeBtn:hover{
    background: #0097a7;
    transform: scale(1.1);
}


body.light-mode {
    background: white !important;
    color: black !important;
}

body.light-mode nav {
    background: #f5f5f5 !important;
}

body.light-mode .card,
body.light-mode .skill-box {
    background: #eeeeee !important;
    color: black !important;
}

body.light-mode a {
    color: black;
}

@keyframes gradientBG {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

#typing{
    color: #00e5ff;
    font-size: 18px;
    line-height: 1.4;
    font-weight: bold;
    text-shadow: 0 0 10px cyan;
    margin-top: 15px ;
}
@media (max-width: 768px) {

    nav {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        overflow-x: auto;
        justify-content: center;
        gap: 10px;
        align-items: center;
        padding: 15px;
        position: sticky;
    }
    nav a {
        font-size: 14px;
        margin: 5px;
        padding: 5px 10px;
        white-space: nowrap;
    }
    .hero{
        margin-top: 20px;
        padding: 20px ;
        flex-direction: column;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .hero img {
        width: 140px;
        height: 140px;
        display: block;
    }
    .hero h1{font-size: 32px;

    }
    .hero p {
        font-size: 16px;
    }

    h1 {
        font-size: 32px;
    }

    p {
        font-size: 18px;
    }

    .card {
        width: 90%;
    }

    .skill-box {
        display: block;
        width: 90%;
        margin: 10px auto;
    }

    input,
    textarea {
        width: 90% !important;
    }

    button {
        width: auto;
    }
    #themeBtn{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin: 10px ;
    }
    #topBtn{
        bottom: 15px;
        right: 15px;
        padding: 10px 15px;
        font-size: 14px;
    }
}
#contact input,
#contact textarea{
    width:90%;
    max-width:400px;
    padding:12px;
    margin:10px 0;
    border:none;
    border-radius:10px;
    outline:none;
    font-size:16px;
}

#contact button{
    margin-top:15px;
}
